<script src="/socket.io/socket.io.js"></script>
<div class="content" id="home">
    <md-subheader class="md-no-sticky">
        <h1>Quizübersicht </h1></md-subheader>
    <md-input-container flex="">
        <label>Suche hier dein gewünschtes Quiz</label>
        <input type="text" ng-model="searchBox">
    </md-input-container>


    <md-list-item class="md-3-line md-long-text" ng-repeat="quiz in vm.quizes| filter:searchBox">

        <div class="md-list-item-text">
            <p>
            <h3>Quizname: {{quiz.qname}}</h3>
            <p>Anzahl der Fragen: {{quiz.questions.length}} </p>
            <p>Dauer: {{quiz.TiSum}} </p>
            <p>Startzeitpunkt: {{quiz.myDate | date: "dd.MM.yyyy HH:mm"}} Uhr </p>

            <md-button class="md-raised md-primary" ng-if="!quiz.used" ng-click="">Starten</md-button>
            <md-button class="md-raised md-primary" ng-if="!quiz.used" ng-click="vm.goScoreSingle(quiz._id)">Auswertung
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.goQSingle(quiz._id)">Bearbeiten</md-button>


            <md-button class="md-raised md-accent" ng-click="vm.delete(quiz._id)">Löschen</md-button>
            <hr/>
            </p>
        </div>

    </md-list-item>


    <div layout="row" layout-align="end center">

        <md-button class="md-fab md-primary addBtn" ui-sref="qadd">
            +
        </md-button>


    </div>


</div>