<div class="content" id="home" ng-controller="quizListCtrl as vm">
    <md-subheader class="md-no-sticky">
        <h1>Quizübersicht </h1></md-subheader>


    <md-list-item class="md-3-line md-long-text" ng-repeat="quiz in vm.quizes">

        <div class="md-list-item-text">
            <p>
            <h3>Quizname: {{quiz.qname}}</h3>
            <p>Anzahl der Fragen: {{quiz.questions.length}} </p>


            <md-button class="md-raised md-primary" ng-click="goQSingle(question._id)">Bearbeiten</md-button>


            <md-button class="md-raised md-accent" ng-click="vm.delete(quiz._id)">Löschen</md-button>
            <hr/>
            </p>
        </div>

    </md-list-item>


    <div layout="row" layout-align="end center">

        <md-button class="md-fab md-primary addBtn" ui-sref="qadd">
            +
        </md-button>


    </div>


</div>