/bower_components
/node_modules
# Created by .ignore support plugin (hsz.mobi)
### Linux template
*~

# KDE directory preferences
.directory
/.idea
bower_components
node_modules
.idea
mongobox
.idea/workspace.xml

# Linux trash folder which might appear on any partition or disk
.Trash-*
### Vagrant templatgit commit -m 'initial commit'ge
.vagrant/
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar


*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

