<md-content layout-padding>
    <div class="content">


        <md-subheader class="md-no-sticky" ng-if="new">
            Add a new user
        </md-subheader>

        <md-subheader class="md-no-sticky" ng-if="edit">
            Edit user with the id: {{user._id}}
        </md-subheader>


        <md-content flex layout-padding>


            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Vorname</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Nachname</label>
                    <input ng-model="user.lastName">
                </md-input-container>
            </div>

            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Image URL</label>
                    <input ng-model="user.imageUrl">
                </md-input-container>

            </div>

            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Text</label>
                    <textarea ng-model="user.text"></textarea>
                </md-input-container>
            </div>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="delete()" ng-if="edit">Delete User</md-button>
                <md-button class="md-raised" ui-sref="list">Abort</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
            </div>
        </md-content>

    </div>
</md-content>