<md-content layout-padding id="quizSingle">
    <div class="contentQuiz">


        <h1>{{vm.quiz.qname}} Quiz</h1>
        <div>
            <h2> Frage {{vm.question.question}}</h2>
            <md-card>
                <section layout="row" layout-sm="column" ng-repeat="answer in vm.question.answers"
                         layout-align="center" layout-wrap>
                    <md-button class="answerButtons" ng-click="vm.answerButton(answer, vm.quiz)" name="answer"
                               class="md-raised">
                        {{answer}}
                    </md-button>

                </section>
            </md-card>
            <div>{{vm.time}}</div>
            <div>letzte Antwort war: {{vm.result}}</div>
        </div>
    </div>
</md-content>