<md-content layout-padding id="login">
    <div class="content">
        <div class="logo">
            <img src="https://www.hdm-stuttgart.de/stylesheets_bilder/Logo_Graustufen_1.gif">
        </div>
        <md-card class="login">
            <md-card-title>
                <md-card-title-text layout="row" layout-align="center center">
                    <p class="md-headline" style="text-align: center">Login zum HdM - Quizzler</p>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout-padding>
                <p ng-if="vm.loginErr" ng-show="vm.loginErr" style="color: red; text-align: center">
                    Falsches Kürzel oder Passwort
                </p>

                <md-input-container flex="" class="login-input">
                    <label style="color: black">Kürzel</label>
                    <input ng-model="vm.user.username">
                </md-input-container>
                <md-input-container flex="" class="login-input" placeholder="Passwort">
                    <label style="color: black">Passwort</label>
                    <input ng-model="vm.user.password" type="password">
                </md-input-container>

                <div layout="row" layout-align=" center">
                    <md-button class="md-raised md-primary" ng-click="vm.submit()"
                               style="background: #3EB2AC none repeat scroll 0 0;">Log In
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>