<div class="content" id="home">

    <md-subheader class="md-no-sticky">Login</md-subheader>
    <md-content layout-padding>
        <div class="content">


            <md-subheader class="md-no-sticky" ng-if="new">
                Login
            </md-subheader>

            <md-content flex layout-padding>


               <div layout="" layout-sm="column">

                    <md-input-container flex="">
                    <label>Kürzel</label>
                    <input type="text" ng-model="user.kuerzel">
                </md-input-container>

                <div layout="" layout-sm="column">
                    <md-input-container flex="">
                        <label>Passwort</label>
                        <input type="password" ng-model="user.password">
                    </md-input-container>

                </div>

                <div layout="row" layout-align="end center">

                    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>

                </div>
               </div>
             </md-content>
         </div>
    </md-content>
</div>