<div class="content" id="home">
    <md-subheader class="md-no-sticky">
        <h1>Fragenübersicht </h1></md-subheader>
    <md-input-container flex="">
        <label>Suche hier deine gewünschte Frage</label>
        <input type="text" ng-model="searchBox">
    </md-input-container>
    <div layout="row" layout-align="start">
        <md-button class="md-raised" ui-sref="questionadd">
            Neue Frage erstellen
        </md-button>
    </div>


    <md-list-item class="md-3-line md-long-text" ng-repeat="question in vm.questions| filter:searchBox"
                  ng-if="question.creator === $root.user">

        <div class="md-list-item-text">
            <p>
            <h3>Frage: {{question.question}}</h3>
            <p>Richtige Antwort: {{question.answer1}} </p>
            <p>alternative Antworten: {{question.answer2}}</p>
            <p>alternative Antworten: {{question.answer3}}</p>
            <p>alternative Antworten: {{question.answer4}}</p>
            <p>Schwierigkeitsgrad: {{question.points}}</p>
            <p>Zeit in Sekunden: {{question.time}}</p>
            <p>Tags: {{ question.tags }} </p>
            <p>Ersteller: {{ question.creator }} </p>
            <p>localStorage: {{$root.user}} </p>

            <md-button class="md-raised md-primary" ng-click="vm.goQSingle(question._id)">Bearbeiten</md-button>


            <md-button class="md-raised md-accent" ng-click="vm.delete(question._id)">Löschen</md-button>
            <hr/>
            </p>
        </div>


    </md-list-item>

</div>