<div>
    <md-subheader class="md-no-sticky">
        <h1 style="text-align: center">Auswertung von {{vm.quiz.qname}} Quiz </h1></md-subheader>


    <md-list-item class="md-3-line md-long-text">

        <div class="" layout-align="center center">
            <p>Anzahl der Teilnehmer: {{vm.users.length}}</p>
            <p>Anzahl der Fragen: {{vm.quiz.questions.length}} </p>
            <p>Maximale Punktzahl: {{vm.maxPoints}} </p>
            <p>Durchführungsdatum:</p>
        </div>

    </md-list-item>

    <md-subheader class="md-no-sticky">
        <h2>Frage {{vm.UserReachedPoints}} </h2>
    </md-subheader>

    <md-input-container flex="">
        <label>Suchen Sie hier eine Frage</label>
        <input type="text" ng-model="searchBox">
    </md-input-container>

    <md-list-item class="md-3-line md-long-text" ng-repeat="question in vm.resultQuestion| filter:searchBox">
        <div class="md-list-item-text">
            <p>
            <h3>Frage: {{question._id}}</h3>
            <p>Anzahl der richtig beantworteten Fragen: {{question.correct}} </p>
            <p>Anzahl der falsch beantworteten Fragen: {{question.wrong}} </p>
            <hr/>
            </p>
        </div>
    </md-list-item>

</div>


</div>