<div class="content" id="home">

    <md-subheader class="md-no-sticky">Available Users</md-subheader>

    <md-list-item class="md-3-line md-long-text" ng-click="goSingle(user._id)" ng-repeat="user in users">

        <img ng-src="{{user.imageUrl}}" class="md-avatar">

        <div class="md-list-item-text">
            <h3>{{user.lastName}}, {{user.firstName}}</h3>

            <p>{{user.text}}</p>
        </div>

    </md-list-item>


    <div layout="row" layout-align="end center">

        <md-button class="md-fab addBtn" ui-sref="add">
            +
        </md-button>

    </div>

</div>