<div class="content" id="home" style="padding:10px">   
    <md-content>  
        <div class="content">  <h1>Quiz - Übersicht</h1>  
            <div class="" ng-cloak>  
                <md-content class="" layout="row">  
                    <div flex="50" ng-repeat="quiz in vm.quizes">  
                        <md-card class="md-padding">  
                            <md-card-title layout="row" layout-align="start">  
                                <md-card-title-text>  <p class="md-headline">Quiz: {{quiz.qname}}</p>
                                </md-card-title-text>
                            </md-card-title>
                                
                            <md-card-content>  
                                <p>Anzahl der Fragen: {{quiz.questions.length}}</p>  
                                <p>Dauer: {{quiz.TiSum}} </p>  
                                <md-input-container ng-if="quiz.key">
                                    <label>Einschreibeschlüssel</label>
                                    <input ng-model="quiz.password" name="passwort" required type="password">
                                    <p ng-if="quiz.key" ng-show="quiz.loginerr" style="color: red">
                                        Falsches Passwort
                                    </p>
                                </md-input-container>
                                 
                            </md-card-content>
                                
                            <md-card-actions layout="row" layout-align="space-between center">  
                                <p ng-if="!quiz.verifiedStart">Startzeitpunkt: {{quiz.myDate | date: "dd.MM.yyyy
                                    HH:mm"}} Uhr </p>
                                <p ng-if="quiz.verifiedStart"> Quiz wird vom Dozenten gestartet </p>
                                <md-button class="md-raised md-primary"   ng-click="vm.goQuiz(quiz)"
                                           style="background-color: #3EB2AC">
                                    Beitreten  
                                </md-button>
                                 
                            </md-card-actions>
                                 
                            <md-divider ng-if="!$last"></md-divider>
                                
                        </md-card>
                            
                    </div>
                         
                </md-content>
                    
            </div>
                  

                
        </div>
             
    </md-content>
         
</div> 