<div class="content" id="home">   
    <md-content>  
        <div class="content">  <h1>Quiz - Übersicht</h1>  
            <div class="content" ng-cloak>  
                <md-content class="" layout="row">  
                    <div flex="50" ng-repeat="quiz in vm.quizes">  
                        <md-card class="md-padding">  
                            <md-card-title>  
                                <md-card-title-text>  <p class="md-headline">Quiz: {{quiz.qname}}</p> <span 
                                    class="md-subhead">Dozent</span>  
                                </md-card-title-text>
                            </md-card-title>
                                
                            <md-card-content>  
                                <p>Anzahl der Fragen: {{quiz.questions.length}}</p>  
                                <p>Dauer: {{quiz.TiSum}} </p>  
                                <md-input-container ng-if="quiz.key">
                                    <label>Einschreibeschlüssel</label>
                                    <input ng-model="quiz.password" name="passwort" required type="password">
                                    <p ng-if="quiz.key" ng-show="vm.loginerr" style="color: red">
                                        Falsches Passwort
                                    </p>
                                </md-input-container>
                                 
                            </md-card-content>
                                
                            <md-card-actions layout="row" layout-align="space-between center">   <p>Startet in:
                                {{getDate(q.quiz.start)}}</p>  
                                <md-button class="md-raised md-primary"   ng-click="vm.goQuiz(quiz)"
                                           style="background-color: #3EB2AC">
                                    Beitreten  
                                </md-button>
                                 
                            </md-card-actions>
                                 
                            <md-divider ng-if="!$last"></md-divider>
                                
                        </md-card>
                            
                    </div>
                            

                         
                </md-content>
                    
            </div>
                  

                
        </div>
             
    </md-content>
         
</div> 