<div class="content" id="home" ng-controller="qAddCtrl as vm">

    <md-subheader class="md-no-sticky">
        <h2>Quiz erstellen</h2>
    </md-subheader>

    <div layout="" layout-sm="column">
        <md-input-container flex="">
            <label>Quiz Name</label>
            <input ng-model="vm.qname">
        </md-input-container>

    </div>
    <div style="padding:10px" ng-cloak>


        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Suche hier deine gewünschte Frage</label>
                <input type="text" ng-model="searchBox">
            </md-input-container>
        </div>

        <h3>Verfügbare Fragen</h3>
        <md-list-item class="list-lecturer" ng-repeat="question in vm.questions| filter:searchBox">

            <div class="md-list-item-text">
                <md-checkbox ng-checked="vm.exists(question)" ng-click="vm.change(question)">
                    Frage: {{question.question}} Tags: {{ question.tags }}
                </md-checkbox>
            </div>
            <div class="md-padding" id="popupContainer" ng-cloak>
                <md-button class="md-raised md-warn" ng-click="vm.goDialog(question)"
                           ng-if="question.selected">
                    Frage
                    bearbeiten
                </md-button>
            </div>


        </md-list-item>


    </div>


</div>

    <md-button class="md-raised" ui-sref="quizList" ng-click="vm.saveQuiz()">Quiz generieren</md-button>
</div>

