<div class="content" id="home">
    <div ng-if="vm.new">
        <md-subheader class="md-no-sticky">
            <h2>Quiz erstellen</h2>
        </md-subheader>

    </div>
    <div ng-if="vm.edit">
        <md-subheader class="md-no-sticky">
            <h2>Quiz bearbeiten</h2>
        </md-subheader>

    </div>
    <div layout="" layout-sm="column">
        <md-input-container flex="">
            <label>Quiz Name</label>
            <input ng-model="vm.quiz.qname">
        </md-input-container>

    </div>
    <div style="padding:10px" ng-cloak>
        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Einschreibeschlüssel</label>
                <input ng-model="vm.quiz.key">
            </md-input-container>

        </div>
        <div layout layout-fill>
            <md-input-container>
                <label>Datum</label>
                <input type="date" mdp-date-picker ng-model="vm.quiz.dateTime" />
            </md-input-container>
            <md-input-container>
                <label>Uhrzeit</label>
                <input type="time" mdp-time-picker ng-model="vm.quiz.dateTime" />
            </md-input-container>

            <md-checkbox ng-model="vm.visible" aria-label="Checkbox 1">
                <p> Sichtbar für Studenten: {{ vm.visible }}</p>
            </md-checkbox>
        </div>

        <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Suche hier deine gewünschte Frage</label>
                    <input type="text" ng-model="searchBox">
                </md-input-container>
            </div>

            <h3>Verwendete Fragen</h3>
            <md-list-item class="list-lecturer" ng-if="vm.new" ng-repeat="question in vm.questions| filter:searchBox">
                <div class="md-list-item-text">
                    <md-checkbox ng-checked="vm.exists(question)" ng-click="vm.change(question)"> Frage:
                        {{question.question}} Tags: {{ question.tags }}
                    </md-checkbox>
                </div>
                <span flex=""></span>
                <div class="md-padding" id="popupContainer" ng-cloak>
                    <md-button class="md-raised md-warn" ng-click="vm.goDialog(question)" ng-if="question.selected">
                        Frage bearbeiten
                    </md-button>
                </div>
            </md-list-item>

            <md-list-item class="list-lecturer" ng-if="vm.edit"
                          ng-repeat="question in vm.quiz.questions| filter:searchBox">

                <div class="md-list-item-text" ng-if="vm.edit">
                    <md-checkbox ng-checked="vm.exists(question)" ng-click="vm.change(question)">
                        Frage: {{question.question}} Tags: {{ question.tags }}
                    </md-checkbox>

                </div>
                <span flex=""></span>
                <div>
                    <md-button class="md-raised md-warn" layout="row" layout-align="center"
                               ng-click="vm.goDialog(question)"
                               ng-if="question.selected">
                        Frage
                        bearbeiten
                    </md-button>
                </div>
                <div class="md-padding" layout="row" layout-align="center center" ng-if="vm.edit" ng-cloak>

                </div>

            </md-list-item>
            <hr/>
            <h3>Verfügbare Fragen</h3>
            <md-list-item class="list-lecturer" ng-if="vm.edit" ng-repeat="question in vm.questions| filter:searchBox">

                <div class="md-list-item-text" ng-if="vm.edit">
                    <md-checkbox ng-checked="vm.exists(question)" ng-click="vm.change(question)">
                        Frage: {{question.question}} Tags: {{ question.tags }}
                    </md-checkbox>
                </div>
                <span flex=""></span>
                <div class="md-padding" ng-if="vm.edit" ng-cloak>
                    <md-button class="md-raised md-warn" ng-click="vm.goDialog(question)"
                               ng-if="question.selected">
                        Frage
                        bearbeiten
                    </md-button>
                </div>

            </md-list-item>


        </div>

        <md-button class="md-raised" ng-if="vm.new" ui-sref="quizList" ng-click="vm.saveQuiz()">Quiz generieren
        </md-button>
        <md-button class="md-raised" ng-if="vm.edit" ui-sref="quizList" ng-click="vm.qsave(vm)">Speichern</md-button>
        <md-button class="md-raised" ng-if="vm.edit" ui-sref="quizList" ng-click="">Abbrechen</md-button>
    </div>



