<md-content layout-padding>
    <div class="content">


        <md-subheader class="md-no-sticky" ng-if="new">
            Add a new Quiz
        </md-subheader>

        <md-subheader class="md-no-sticky" ng-if="edit">
            Edit Quiz with the id: {{user._id}}
        </md-subheader>


        <md-content flex layout-padding>


            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Quizname</label>
                    <input ng-model="user.firstName">
                </md-input-container>

            </div>

            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Frage</label>
                    <input ng-model="user.lastName">
                </md-input-container>

            </div>

            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Richtige Antwort</label>
                    <input ng-model="user.lastName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Antwort 2</label>
                    <input ng-model="user.lastName">
                </md-input-container>


            </div>
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Antwort 3</label>
                    <input ng-model="user.lastName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Antwort 4</label>
                    <input ng-model="user.lastName">
                </md-input-container>


            </div>


            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="delete()" ng-if="edit">Delete User</md-button>
                <md-button class="md-raised" ui-sref="quizList">Abort</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
            </div>
        </md-content>

    </div>
</md-content>