<div class="content" id="home">
    <md-subheader class="md-no-sticky">
        <h1>Nutzerverwaltung </h1></md-subheader>
    <md-input-container flex="">
        <label>Suche hier einen Nutzer</label>
        <input type="text" ng-model="searchBox">
    </md-input-container>
    <div layout="row" layout-align="start">
        <md-button class="md-raised" ui-sref="add">
            Neuen Nutzer erstellen
        </md-button>
    </div>

    <md-list-item class="md-3-line md-long-text"
                  ng-repeat="user in vm.users | filter:searchBox | orderBy:'role'"
                  ng-click="vm.goSingle(user._id)">

        <div class="md-list-item-text">
            <h3><b>{{user.role}}:</b></h3>
            <p>Benutzername: {{user.username}}</p>
            <p>Name: {{user.lastName}} {{user.firstName}}</p>
        </div>

    </md-list-item>


</div>