<div ng-cloak="" class="page">
    <div class="animate">
        <md-content class=md-padding">
            <md-toolbar ng-if="vm.show" class=md-primary">
                Animier mich
            </md-toolbar>
            <md-button class="md-primary md-raised" ng-click="vm.toggle()">
                Animate
            </md-button>
        </md-content>
    </div>

    <div ng-if="vm.rooms" layout="column" layout-align="center center">


        <div>
            join a Room
        </div>

        <div layout="row" layout-align="center center">
            <md-button ng-repeat="room in vm.rooms" class="md-primary md-raised" ng-click="vm.join(room)">
                {{room}}
            </md-button>
        </div>

    </div>


    <div ng-if="vm.room" layout="column" layout-align="center center">

        Hallo du bist im Raum {{vm.room}} <br>

        Würfeln?

        <md-button class="md-primary md-raised" ng-click="vm.dice()">
            Versuch mein Glück!
        </md-button>
    </div>

</div>