<md-content layout-padding>
    <div class="content">


        <md-subheader class="md-no-sticky" ng-if="new">
            Erstelle eine neue Frage
        </md-subheader>

        <md-subheader class="md-no-sticky" ng-if="edit">
            Bearbeite Frage mit id: {{question._id}}
        </md-subheader>


        <md-content flex layout-padding>
            <div ng-controller="chipCtrl as ctrl" layout="column" ng-cloak>
                <md-content class="md-padding" layout="column">


                    <h2 class="md-title">Setze Tags für diese Frage</h2>
                    <md-chips
                            ng-model="ctrl.tags"
                            readonly="ctrl.readonly"
                            placeholder="Enter a tag"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="+Tag"
                    ></md-chips>

                    <br/>
                    <md-checkbox ng-model="ctrl.readonly">Readonly</md-checkbox>
                </md-content>
            </div>




            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Frage</label>
                    <input ng-model="question.question">
                </md-input-container>

            </div>


            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Richtige Antwort</label>
                    <input ng-model="question.answer1">
                </md-input-container>
                <md-input-container flex="">
                    <label>Antwort 2</label>
                    <input ng-model="question.answer2">
                </md-input-container>


            </div>
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Antwort 3</label>
                    <input ng-model="question.answer3">
                </md-input-container>
                <md-input-container flex="">
                    <label>Antwort 4</label>
                    <input ng-model="question.answer4">
                </md-input-container>
            </div>

            <div>
                <label> Ersteller der Frage: {{$root.username}} </label>
            </div>

            <div ng-controller="AppCtrl" ng-cloak>
                <md-content style="margin: 16px; padding:16px">
                    <h3>
                        Schwierigkeitsgrad:
                    </h3>
                    <div flex="10" layout layout-align="center center">
                        <input flex type="number" ng-model="question.points" aria-label="red" aria-controls="red-slider"
                               align="center">
                    </div>
                    <div layout>
                        <div flex="10" layout layout-align="center center">
                            <span class="md-body-1">Sehr leicht</span>
                        </div>
                        <md-slider flex min="1" max="5" ng-model="question.points" aria-label="red" id="red-slider"
                                   class>
                        </md-slider>
                        <div flex="10" layout layout-align="center center">
                            <span class="md-body-1">Sehr schwer</span>
                        </div>

                    </div>
                    <h3>
                        Zeitlimit:
                    </h3>

                    <div flex="10" layout layout-align="center center">

                        <input flex type="number" ng-model="question.time" aria-label="red" aria-controls="red-slider"
                               align="center">
                    </div>
                    <div layout>
                        <div flex="10" layout layout-align="center center">
                            <span class="md-body-1">Default</span>
                        </div>
                        <md-slider flex min="0" max="180" ng-model="question.time" aria-label="red" id="red-slider"
                                   class>
                        </md-slider>
                        <div flex="10" layout layout-align="center center">
                            <span class="md-body-1">180 Sekunden</span>
                        </div>

                    </div>
                </md-content>
            </div>


            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="delete()" ng-if="edit">Frage löschen</md-button>
                <md-button class="md-raised" ui-sref="questionList">Abbrechen</md-button>
                <md-button class="md-raised md-primary" ng-click="questionSave()">Speichern</md-button>
            </div>
        </md-content>

    </div>
</md-content>