<md-content layout-padding>
    <div class="content">


        <md-subheader class="md-no-sticky" ng-if="new">
            Add a new user
        </md-subheader>

        <md-subheader class="md-no-sticky" ng-if="edit">
            Edit user with the id: {{user._id}}
        </md-subheader>


        <md-content flex layout-padding>


            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>Vorname</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Nachname</label>
                    <input ng-model="user.lastName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Kürzel</label>
                    <input ng-model="user.kuerzel">
                </md-input-container>
            </div>
            <div ng-controller="AppCtrl as ctrl" layout-sm="column">

                <md-input-container>
                    <label>Rolle</label>
                    <md-select ng-model="user.role">
                        <md-option ng-repeat="role in ctrl.role" value="{{role.abbrev}}">
                            {{role.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>


            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="delete()" ng-if="edit">Delete User</md-button>
                <md-button class="md-raised" ui-sref="list">Abort</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
            </div>
        </md-content>

    </div>
</md-content>