<div class="content" id="home">

    <md-subheader class="md-no-sticky">Quiz</md-subheader>
    <md-content layout-padding>
        <div class="content">


            <md-subheader class="md-no-sticky" ng-if="new">
                quiz
            </md-subheader>

            <md-content flex layout-padding>

{{ frage }}

               <div layout="" layout-sm="column">


                    <label style="text-align:center">Hier steht die Frage</label>
{{ zahl }}
                </div>

                <div layout="" layout-sm="column">
                    <button class=""
                            ng-repeat="button in answers track by $index"
                            ng-click="answer($index)"
                            >{{ button.antwort }}</button>



             </md-content>
         </div>
    </md-content>
</div>